<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mail de commande</title>
</head>
<body style=" padding: 3rem;">
<h2>Commande numéro {{order.id}} du {{date}} . </h2>
{{#each products}}
    <div style="background-color: rgb(243 244 246);border-radius: 1rem;margin-bottom: 1rem;">
        <div style="display: flex;flex-direction: row;padding-left: 0.75rem;padding-right: 0.75rem;padding-top: 0.5rem;padding-bottom: 0.5rem;align-items: center;">
            <img style="object-fit: cover;border-radius: 0.5rem;width: 3rem;height: 3rem;" src="{{product.picture}}" alt="Produit{{product.id}}" />
            <div style="flex: 1 1 0%;justify-content: center;margin-left: 0.75rem;">
                <p style="font-size: 1.125rem;line-height: 1.75rem;font-weight: 700;">{{ product.name }} x {{ quantity }}</p>
                <p style="font-size: 0.875rem;line-height: 1.25rem;">Prix unitaire : {{ product.TTC }}€</p>
            </div>
            <div style="margin-left: 15rem;">
                <div style="display: flex;justify-content: center;">
                    {{ product.quantity }}
                </div>
            </div>
            <div style="font-weight: 700; margin-left: 1rem;">
                {{ TTC }} €
            </div>
        </div>
    </div>
{{/each}}
<div style="display: grid;justify-items: end; padding-left: 0.5rem;padding-right: 0.5rem;padding-bottom: 0.5rem;">
    <div style="font-size: 1.125rem;line-height: 1.75rem;font-weight: 700;">Sous total <span style="margin-left: 1rem;font-weight: 700;">{{ order.soustotal }} €</span></div>
    <div style="font-size: 1.125rem;line-height: 1.75rem;font-weight: 700;">Frais de service <span style="margin-left: 1rem;font-weight: 700;">1 €</span></div>
    <div style="font-size: 1.125rem;line-height: 1.75rem;font-weight: 700;">Total <span style="margin-left: 1rem;font-weight: 700;">{{ order.total }} €</span></div>
</div>
</body>
</html>